<div style="background-image: url('{{main.pathToImages}}navy_blue_background.png');">

    <div id="content_left_col">
        &nbsp;
    </div>

    
    <div id="content_right_col">
        <div id="hp_content">{{shellac.content}}</div>

        <div id="featured_artist">{{shellac.featuredartist}}</div>
        
        <img id="featured_image" src="{{shellac.image.src}}" />

        <div id="featured_text">
            {{shellac.featuredtext}}
        </div>
        <br style="clear: both;" />
    </div>
    <br style="clear: both;" />
</div>
